// --------------------
// Definition of variables
$primary: #32c3ff;
$bg: #f0f2f5;

//  Colors to decide on
$first: #4d946e;
$first-hover: #43be7c;
$second: #7b4b36;
$alternative: #7a5c4e;
$icon: #a6c5b4;

@font-face {
  font-family: Anurati;
  src: url("/fonts/Anurati-Regular.otf");
}

@font-face {
  font-family: MoonBold;
  src: url("/fonts/Moon2.0-Bold.otf");
}
@font-face {
  font-family: MoonLight;
  src: url("/fonts/Moon2.0-Light.otf");
}
@font-face {
  font-family: MoonRegular;
  src: url("/fonts/Moon2.0-Regular.otf");
}
// ----------------------------------------
// To install Boostrap:
// 1) Run in the client folder: $ npm i bootstrap
// 2) Import bootstrap with the following line
// @import 'bootstrap/scss/bootstrap';
// ----------------------------------------

@import "antd/dist/antd";

// Style reusable for all components
body {
  margin: 0;
  padding: 0;
  background-color: $bg;
}

* {
  font-family: MoonRegular;
}

.hidden {
  display: none;
}

.sider-margin-correction {
  margin: 0 0 0 80px;
  @media only screen and (max-width: 880px) {
    margin: 0;
  }
}
.margin-zero {
  margin: 0;
}

.sidenav {
  background-color: $bg;
  height: 100%;
  width: 75%;
  position: fixed;
}
.side-nav-title {
  display: flex;
  align-items: center;
  h4 {
    margin: 0;
    padding: 0 5px;
  }
}
.nav-bar-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 30px 50px;
  height: 90px;
  margin: 0;
  box-sizing: border-box;
  background-color: $first;
  .side-nav-link {
    display: none;
  }
  .menu-icon {
    display: none;
  }
  .active {
    text-decoration: none;
    color: white;
    font-family: MoonBold;
  }

  .logo-el {
    a {
      display: flex;
      align-items: center;
      span {
        padding: 0 10px;
        color: $bg;
        font-family: MoonBold;
        font-size: 1.4rem;
      }
    }
  }

  .user-el {
    a {
      padding: 0 20px;
      color: $bg;

      &.login {
        font-size: 1rem;
        &:hover {
          font-family: MoonBold;
          color: white;
        }
      }
      &.signup {
        font-size: 1rem;
        padding: 10px 20px;
        border: 2px solid $bg;
        border-radius: 10px;
        color: $bg;

        &:hover {
          background-color: rgba(255, 255, 255, 0.1);
          font-family: MoonBold;
          color: white;
        }
      }
    }
  }

  @media only screen and (max-width: 730px) {
    padding: 30px 25px;

    .side-nav-link {
      display: inherit;
    }
    .menu-icon {
      display: inline-block;
      font-size: 25px;
      color: white;
    }
    .user-el {
      a {
        display: none;
      }
    }
  }
}

.title {
  font-size: 3rem;
  text-align: center;

  @media only screen and (max-width: 730px) {
    font-size: 4rem;
  }
  @media only screen and (max-width: 410px) {
    font-size: 3.1rem;
  }
}

.brand-title {
  color: $bg;
  font-size: 5rem;
  text-align: center;
  font-family: "MoonBold";
  letter-spacing: 5px;
  @media only screen and (max-width: 730px) {
    font-size: 4rem;
  }
  @media only screen and (max-width: 410px) {
    font-size: 2.5rem;
  }
}
.capitalize {
  text-transform: capitalize;
}

.randomJoke {
  text-align: center;
  font-size: 1rem;
  width: 300px;
  @media only screen and (max-width: 350px) {
    width: 230px;
  }
}
//earthie styling
.dashboard-main {
  display: flex;
  width: 100vw;
  .salute {
    font-family: MoonBold;
    font-size: 2rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 30px;
    background: $icon;
    height: 100vh;
    color: #001529;
    i {
      display: none;
    }
    .salute-greeting {
      margin: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    // margin: 40px;
    @media only screen and (max-width: 730px) {
      font-size: 1.2rem;
    }
    h2 {
      font-size: 1.5rem;
    }
    h2,
    h1 {
      color: #001529;
      margin: 0;
      width: 370px;
    }
  }
}
.chips-container {
  .earthies-list {
    overflow: scroll;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    max-height: 100vh;
    @media only screen and (max-width: 880px) {
      min-height: 100vh;
      max-height: none;
      width: 100vw;
      justify-content: center;
      align-items: center;
    }
    .earthie-item {
      margin: 2rem;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      .ant-card-cover {
        height: 400px;
        img {
          width: 350px;
          height: 400px;
          object-fit: cover;
          @media only screen and (max-width: 440px) {
            width: 17rem;
          }
          @media only screen and (max-width: 360px) {
            width: 14rem;
          }
        }
      }

      // object-fit: cover;
      @media only screen and (max-width: 380px) {
        height: auto;
        margin: 2rem 0.4rem;
      }
    }
  }
  .no-device-message {
    min-height: 100vh;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h3 {
      text-align: center;
      width: 600px;
    }
    @media screen and (max-width: 880px) {
      max-width: 100vw;
      padding: 30px;
      h3 {
        width: 350px;
        font-size: 0.9rem;
      }
    }
    @media screen and (max-width: 500px) {
      h3 {
        width: 250px;
        max-width: 100vw;
      }
    }
  }

  .offline-device-details {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    h1 {
      font-family: MoonBold;
    }
  }
  .earthie-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;

    .earthie-details-data {
      width: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      @media screen and (max-width: 900px) {
        flex-direction: column;
      }
    }
    .earthie-details-buttons {
      padding: 10px;
      display: flex;
      justify-content: space-between;
      width: 90%;
      align-items: center;
      .settings-button {
        color: $first !important;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .button-earthie-details {
        font-size: 34px;
        cursor: pointer;
        color: $first;
        padding: 5px;
        &:hover {
          color: $first-hover;
        }
      }
    }
    .earthie-details-flex-column {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .earthie-details-photo-timeline {
      padding: 10px;
      display: flex;
      justify-content: space-around;
      width: 45%;
      flex-direction: column;
      align-items: center;
      flex-wrap: wrap;
      @media screen and (max-width: 900px) {
        width: auto;
      }
    }
    .earthie-details-metrics-history {
      padding: 10px;
      display: flex;
      justify-content: space-around;
      flex-direction: column;
      width: 45%;

      align-items: center;
      flex-wrap: wrap;
      @media screen and (max-width: 900px) {
        width: auto;
      }
    }
  }
}

.edit-earthie {
  .form-container {
    @media screen and (max-width: 900px) {
      min-height: 100vh;
    }
  }
}

.bold {
  font-weight: bolder;
}
.moon-bold {
  font-family: MoonBold;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  text-align: center;
  background-color: $first;
  .title {
    color: $bg;
    @media screen and (max-width: 690px) {
      font-size: 1.2rem;
    }
  }
  .subtitle {
    color: $bg;
  }
  h2 {
    color: $bg;
  }
  .form-component {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;

    .form-field {
      min-width: 660px;
      margin: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      i {
        margin: 5px;
      }
      .two-input-holder {
        display: flex;
        width: 100%;
        justify-content: center;
        .field-main {
          width: 100%;
          margin-bottom: 5px;
        }
        .ant-select {
          width: 200px;
        }
        @media screen and (max-width: 690px) {
          flex-direction: column;
          margin-top: 5px;
          .ant-select {
            width: 100%;
          }
        }
      }
      .button-form {
        padding: 10px 20px;
        border-radius: 10px;
        font-size: 1.5rem;
        font-family: MoonBold;
        background-color: $second;
        color: $bg;
        border: none;

        &:hover {
          cursor: pointer;
          background-color: $alternative;
        }
      }
      input {
        border-radius: 4px;
        width: 100%;
        border: 1px solid rgba(0, 0, 0, 0);
        padding: 7px;
        box-sizing: border-box;
      }
      .content {
        margin: 5px;
      }
      @media screen and (max-width: 690px) {
        min-width: 95vw;
      }
    }

    .buttons-settings-chip {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .form-field-col6 {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

.account-page {
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: baseline;
  @media only screen and (max-width: 770px) {
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
  }
  .account-buttons {
    display: flex;
    // align-items: center;
    justify-content: center;
  }

  background-color: $bg;
  margin: 30px;
  .form-container {
    background-color: transparent;
    @media only screen and (max-width: 770px) {
      height: 100vh;
    }
    .form-buttons {
      display: flex;

      align-items: center;
      flex-direction: column;
      width: 100%;
      height: 100%;

      .button-form {
        padding: 10px 20px;
        margin: 10px 0;
        border-radius: 10px;
        font-size: 1.5rem;
        width: 17rem;
        font-family: MoonBold;
        background-color: $second;
        color: $bg;
        border: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media only screen and (max-width: 770px) {
          width: 14rem;
          font-size: 1.2rem;
        }
        &:hover {
          cursor: pointer;
          background-color: $alternative;
        }
      }
    }

    .form-component {
      width: 70%;
      a {
        @media only screen and (min-width: 770px) {
          display: none;
        }
      }
      .form-field {
        min-width: 400px;
        width: 70%;
        .button-form {
          padding: 10px 20px;
          margin: 10px 0;
          border-radius: 10px;
          font-size: 1.5rem;
          width: 17rem;
          font-family: MoonBold;
          background-color: $second;
          color: $bg;
          border: none;
          @media only screen and (max-width: 770px) {
            width: 14rem;
            font-size: 1.2rem;
          }
          &:hover {
            cursor: pointer;
            background-color: $alternative;
          }
        }
        @media only screen and (max-width: 770px) {
          min-width: 0px;
          width: 14rem;
        }
      }
    }
  }

  div {
    // width: 50%;

    .image {
      margin: 3rem 0;
      img {
        width: 6rem;
        @media only screen and (max-width: 380px) {
        }
      }
    }
  }
}
.ant-table td {
  white-space: nowrap;
}

.footer {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  .perm-logo {
    color: white;
    margin: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    img {
      height: 40px;
    }
    p {
      padding-right: 10px;
      font-size: 1.2rem;
      margin: 0;
    }
  }
}

.earthie-history-table {
  width: 100%;
}
.ant-layout-header {
  @media only screen and (max-width: 730px) {
    display: flex;
    justify-content: center;
  }
}
// landing page

.ant-drawer-title {
  font-size: 28px;
}
.home-page {
  display: flex;
  flex-direction: row;
  height: calc(100vh - 90px);
  background-image: url("/images/tom_final4.png");
  background-size: cover;
  background-repeat: no-repeat;
  .box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 700px;
    padding-left: 100px;
    box-sizing: border-box;

    h3 {
      color: $bg;
      font-size: 1.2rem;
    }

    h1 {
      font-size: 3rem;
      font-weight: bolder;
      color: $bg;
      @media only screen and (max-width: 400px) {
        font-size: 2.2rem;
      }
      @media only screen and (max-width: 340px) {
        font-size: 1.8rem;
      }
    }

    .actions {
      .button-form {
        padding: 10px 20px;
        border-radius: 10px;
        font-size: 1.5rem;
        font-family: MoonBold;
        background-color: $second;
        color: $bg;
        border: none;
        &:hover {
          cursor: pointer;
          background-color: $alternative;
        }
        @media only screen and (max-width: 340px) {
          padding: 7px 20px;
          font-size: 1.3em;
        }
      }
    }
    .description {
      p {
        font-size: 1.3rem;
        color: $bg;
        @media only screen and (max-width: 340px) {
          font-size: 1.1rem;
          padding: 0;
        }
      }
    }
    @media only screen and (max-width: 730px) {
      padding: 0 20px;
    }
  }
}
.earthie-card-content {
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  .room-environment {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    .room-environment-metrics {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
    }
  }
}

//! PULSE ANIMATION

.plant-health-pulse {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  .plant-health-info {
    padding-left: 15px;
  }
  .pulse {
    padding: 4px;
    z-index: 10;
    display: block;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.2);
    animation: pulse 2s infinite;
  }
  .pulse:hover {
    animation: none;
  }

  @-webkit-keyframes pulse {
    0% {
      -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2);
    }
    70% {
      -webkit-box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
    }
    100% {
      -webkit-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
    }
  }
  @keyframes pulse {
    0% {
      -moz-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2);
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2);
    }
    70% {
      -moz-box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
      box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
    }
    100% {
      -moz-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
      box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
    }
  }
}

.delete-btn {
  margin: 0;
  color: #ee5411;
  padding: 5px;
  &:hover {
    color: #c04917;
    cursor: pointer;
  }
}

.buttons-delete-earthie-settings {
  color: $bg;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .btns {
    margin: 3px;
    width: 100px;
  }
  .no-btn:hover {
    color: $bg;
    cursor: pointer;
  }
}

// ! ANT DESIGN OVER STYLING
i {
  color: $icon;
}

.ant-timeline.ant-timeline-alternate .ant-timeline-item-head-custom,
.ant-timeline.ant-timeline-right .ant-timeline-item-head-custom {
  background-color: transparent;
}

.ant-card-meta-title {
  position: absolute;
  top: 6px;
  left: 10px;
  background-color: $bg;
  padding: 3px 7px;
  border-radius: 5px;
}

//! Mobile styling
@media only screen and (max-width: 880px) {
  .dashboard-main {
    flex-direction: column;
    .salute {
      flex-direction: column-reverse;
      height: calc(100vh - 64px);
      max-width: 100vw;
      h2 {
        width: 200px;
      }
      h1 {
        width: 250px;
      }
      i {
        display: block;
        margin-bottom: 50px;
        &:hover {
          cursor: pointer;
          color: $bg;
        }
      }
      .salute-greeting {
        margin: auto 0;
      }
      .footer {
        .perm-logo {
          p {
            font-size: 1rem;
          }
        }
      }
    }
  }
}
